<div class="elements-navbars-inside">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="<%= @logo_link %>"><%= Figaro.env.app_name %></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <% Array(@links).each do |link| %>
          <li class="nav-item">
            <%= link_to link[:text],
                        link[:link],
                        class: 'nav-link' %>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @dropdown[:text] %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Array(@dropdown[:links]).each do |l| %>
              <a class="dropdown-item" href="<%= l[:link] %>"><%= l[:text] %></a>
            <% end %>
          </div>
        </li>
      </ul>

      <% Array(@buttons).each do |button| %>
        <%= link_to button[:text],
                    button[:link],
                    class: 'btn btn-outline-success my-2 my-sm-0 mx-1',
                    method: button[:method] %>
      <% end %>

    </div>

  </nav>

</div>
