<%= c "pages/inside" do %>

  <%= c "elements/forms/full_page" do %>

    <h2><%= resource.name %></h2>

    <p><%= resource.user.full_name %></p>
    <p><%= resource.date %></p>
    <p><%= resource.description %></p>


  <% end %>

<% end %>
